body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  color:#333;
  margin: 0; padding: 0;
  width:100%;
}

body > header {
text-align:center;
}
body > header {
  margin-top:2em;
}

header nav ul {
text-align:center;
}
header nav li {
list-style-type:none;
display:inline;
}
header nav li:before {
content:"\2022\0020";
}
header nav li:first-child:before {
content:"";
}

h1 {
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  margin:0.75em 0;
  color:#000;
}
h2 { font-size: 1.4em; line-height:1; }
h3 { font-size: 1.2em; line-height:0.8; }
h4 { font-size: 1.2em; font-style: italic; }
section article h1,
section article h2,
section article h3 {
  margin:0;
  font-size:1em;
  font-weight:normal;
  text-align:left;
}
#subtitle {
text-align:center;
}

article > article,
section {
  max-width: calc(100% - 1em);
  padding: 0 0.5em;
}
section section {
  width:100%;
  max-width:none;
}

main form {
margin:1em 0;
}
main form ul,
main form ol {
margin:0;
}
main form li {
margin-bottom:0.5em;
list-style-type:none;
}
main form p {
text-indent:0;
}
main fieldset {
padding:1em;
}
main legend { font-weight:bold; }
main label {
display:inline-block;
font-weight:bold;
width:10%;
vertical-align:top;
}
main input,
main textarea,
main select,
main button {
font-family:inherit;
font-size:inherit;
}
main input,
main textarea,
main select {
padding:0.25em;
display:inline-block;
}
main input,
main textarea {
width:65%;
}
main input[type=submit] {
font-weight:bold;
width:auto;
}

dl[id^="document-"] dt,
dl[id^="document-"] dd,
dl[class~="inbox"] dt,
dl[class~="inbox"] dd {
display:inline;
}
dl[id^="document-"] dt,
dl[class~="inbox"] dt {
font-weight:bold;
}
dl[id^="document-"] dt:after,
dl[class~="inbox"] dt:after {
content:": ";
}
dl[id^="document-"] dd,
dl[class~="inbox"] dd {
margin:0;
}
dl[id^="document-"] dd + dt:before {
content:"\A";
white-space:pre;
}

dl[id^="document-"], #authors {
  max-width: none;
  width: 100%;
}
#authors dd, #authors li, #keywords li {
  display: inline;
  text-align: left;
  margin-left:1em;
}

#authors {
margin:0 auto 2.5em -3%;
text-align:center;
width:106%;
}

#authors dl {
line-height:1;
}

#author-org {
font-size:0.923em;
}

#author-email,
#author-uri {
font-family:monospace;
font-size:0.923em;
}


#authors dl,
#authors ul {
margin:0;
text-align:center;
}

.authors {
margin:0;
}

#authors dd,
#authors li,
.authors dd {
display:inline !important;
margin:0;
}

#authors dd:not(:empty):after,
#author-email li:not(:empty):after,
#author-org li:not(:empty):after,
#author-uri li:not(:empty):after,
.authors dd:not(:empty):after {
content:",\0020";
}
#authors dd:last-child:after,
#author-email li:last-child:after,
#author-org li:last-child:after,
#author-uri li:last-child:after,
.authors dd:last-child:after {
content:"";
}
#authors sup {
margin-left:1px;
}
#authors sup:after {
content:",";
}
#authors sup:last-child:after,
#authors sup:first-child:after {
content:"" !important;
}
#authors dt,
.authors dt {
display:none;
}

#authors p {
text-align:center;
}

#authors li {
list-style-type:none;
}

ul ul {
margin-left:1em;
}

#document-identifier {
margin-top:1em;
}

#keywords h2 {
font-size:1em;
}

a { color: #009000; }
ul { padding: 0; margin-bottom:1em; }
nav ul,
aside ul { list-style: none; }

body > footer { margin-top:2em; }
body > footer a, body > footer a:hover { color: inherit; }

aside.note.do blockquote article section {
margin:0;
}

tfoot dl.abbr dt,
tfoot dl.abbr dd {
display:inline;
text-transform:none;
}
tfoot dl.abbr dd {
margin-left:0;
}
tfoot dl.abbr dd:after {
content:"\A";
white-space:pre;
}
tfoot dl.abbr dt:after {
content:": ";
}
tfoot dl.abbr {
-webkit-column-count:2;
-moz-column-count:2;
column-count:2;
}
tfoot dl.abbr dt {
font-weight:bold;
}

/* dokieli homepage styles */
#do-index h1 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#do-index #introduction {
  text-align: center;
  font-size: 1.4em;
}
#do-index #features, body > footer {
  overflow: hidden;
  padding-top: 1em; padding-bottom: 1em;
  background-color: #333;
  color: #EBEBEB;
}

#do-index #features {
  width:100%;
  max-width:calc(100% - 1em);
  padding-left:0.5em;
  padding-right:0.5em;
}

#do-index #features ul {
  list-style-type: none;
  padding: 0; margin: 0;
  font-size: 0.6em;
  text-align: center;
}

#do-index #features ul li {
  overflow: hidden;
}
#do-index #features ul span {
  display: block;
  font-size: 2em;
  margin: 0;
}
#do-index #features li span:first-child {
  display: inline-block;
}
#do-index #features li span:last-child {
  display: inline-block;
  color: #a8a8a8;
}
#do-index #features ul li a {
  display: inline-block;
  color: inherit; text-decoration: none;
  width: 100%;
}

#do-index #features ul li:hover, #do-index #features ul li:hover span {
  background-color: #444;
}
#do-index #features ul i {
  width: 1em;
  height: 1em;
  padding: 0.3em; margin: 0 0.2em;
  border-radius: 50%;
  text-align: center;
}

#do-index #features i.solid img {
  width: 100%; display: block;
}

#do-index #read-write-web,
#do-index #video-overview {
  text-align: center;
  width: 100%;
  background-color: #ddd;
}
#do-index #features h2,
#do-index #video-overview h2 {
  display:none;
}
#do-index #read-write-web {
  text-align:center;
  font-size:2em;
  padding:1em 0;
  margin:1em 0;
}

ul#program-committee {
column-count: 2;
-moz-column-count: 2;
-webkit-column-count: 2;
}

video {
  max-width: 100%;
  height: auto;
}
video, audio, object {
  vertical-align: middle;
}

figure,
audio,
video,
iframe,
canvas {
margin:1em auto;
text-align:center;
display:block;
}
figure pre {
text-align:left;
}
figcaption {
text-align:center;
}
figure.listing pre {
border:1px solid #000;
padding:0.5em;
counter-reset:precode;
margin-top:0;
overflow:auto;
}
figure.listing pre code:before,
figure.listing pre samp:before {
position:absolute;
left:-1.75em;
text-align:right;
content:counter(precode);
counter-increment:precode;
}
pre {
overflow:auto;
}


@media screen and (min-width: 768px){
  article > article,
  section {
    width: 50%;
    margin: 3em auto;
    padding: 0;
  }
  dl[id^="document-"], #authors {
    width:50%;
    margin:0 auto;
  }
  #do-index #features ul {
    font-size: 1.2em;
    float: left;
    width: 100%;
  }
  #do-index #features ul li {
    float: left;
    width: 50%;
    padding: 0.6em 0;
  }
  #do-index #features ul li:nth-child(odd) {
    text-align:right;
    clear:left;
  }
  #do-index #features ul li:nth-child(even) {
    text-align:left;
  }
  #do-index #features ul li span {
    font-size: 1em;
  }
  #do-index #features ul li span:first-of-type {
    padding-top: 1em;
  }
  #do-index #features ul li:nth-child(odd) i,
  #do-index #features ul li:nth-child(odd) p {
    float:right;
  }
  #do-index #features ul li:nth-child(even) i,
  #do-index #features ul li:nth-child(even) p {
    float: left;
  }
}
/* </dokieli homepage styles> */
