body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.3;
  color:#333;
  margin: 0; padding: 0;
  width:100%;
}

body > header {
text-align:center;
}
body > header {
  margin-top:2em;
}

header nav ul {
text-align:center;
}
header nav li {
list-style-type:none;
display:inline;
}
header nav li:before {
content:"\2022\0020";
}
header nav li:first-child:before {
content:"";
}

h1 {
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  margin:0.75em 0;
  color:#000;
}
h2 { font-size: 1.4em; line-height:1; }
h3 { font-size: 1.2em; line-height:0.8; margin-top: 2em ;}
h4 { font-size: 1.1em; margin:1.5em auto 0 auto; }
section article h1,
section article h2,
section article h3 {
  margin:0;
  font-size:1em;
  font-weight:normal;
  text-align:left;
}
#subtitle {
text-align:center;
}

article > article,
section,
dl[id^="document-"], #authors,
*[id^=table-of-] {
  margin: 0 0.5em;
}
section section {
  padding:0;
  margin:0;
}

main form {
margin:1em 0;
}
main form ul,
main form ol {
margin:0;
}
main form li {
margin-bottom:0.5em;
list-style-type:none;
}
main form p {
text-indent:0;
}
main fieldset {
padding:1em;
}
main legend { font-weight:bold; }
main label {
display:inline-block;
font-weight:bold;
width:10%;
vertical-align:top;
}
main input,
main textarea,
main select,
main button {
font-family:inherit;
font-size:inherit;
}
main input,
main textarea,
main select {
padding:0.25em;
display:inline-block;
}
main input,
main textarea {
width:65%;
}
main input[type=submit] {
font-weight:bold;
width:auto;
}

blockquote {
padding-left:1em;
border-left:0.25em solid #ccc;
margin:0;
}

dl[id^="document-"] dt,
dl[id^="document-"] dd,
dl[class~="inbox"] dt,
dl[class~="inbox"] dd {
display:inline;
}
dl[id^="document-"] dt,
dl[class~="inbox"] dt {
font-weight:bold;
}
dl[id^="document-"] dt:after,
dl[class~="inbox"] dt:after {
content:": ";
}
dl[id^="document-"] dd,
dl[class~="inbox"] dd {
margin:0;
}
dl[id^="document-"] dd + dt:before {
content:"\A";
white-space:pre;
}

#authors dd, #authors li, #keywords li {
  display: inline;
  text-align: left;
  margin-left:1em;
}

#authors {
margin:0 auto 2.5em -3%;
text-align:center;
width:106%;
}

#authors dl {
line-height:1;
}

#author-org {
font-size:0.923em;
}

#author-email,
#author-uri {
font-family:monospace;
font-size:0.923em;
}


#authors dl,
#authors ul {
margin:0;
text-align:center;
}

.authors {
margin:0;
}

#authors dd,
#authors li,
.authors dd {
display:inline !important;
margin:0;
}

#authors dd:not(:empty):after,
#author-email li:not(:empty):after,
#author-org li:not(:empty):after,
#author-uri li:not(:empty):after,
.authors dd:not(:empty):after {
content:",\0020";
}
#authors dd:last-child:after,
#author-email li:last-child:after,
#author-org li:last-child:after,
#author-uri li:last-child:after,
.authors dd:last-child:after {
content:"";
}
#authors sup {
margin-left:1px;
}
#authors sup:after {
content:",";
}
#authors sup:last-child:after,
#authors sup:first-child:after {
content:"" !important;
}
#authors dt,
.authors dt {
display:none;
}

#authors p {
text-align:center;
}

#authors li {
list-style-type:none;
}

ul ul,
ol ol {
margin-left:1em;
}

#document-identifier {
margin-top:1em;
}

a { color: #009000; }
code, samp { background-color:#f3f3f3; padding:0.1em 0; }
code:before, code:after, samp:before, samp:after, kbd:before, kbd:after {
content:"\00a0";
letter-spacing:-0.2em;
}

pre code, pre samp { background-color:inherit; padding:0; white-space: pre-wrap; }
pre code:before, pre code:after, pre samp:before, pre samp:after {
content:"";
padding:0;
letter-spacing:0;
}

kbd {
padding:0.25em 0;
border-radius:0.25em;
border:1px solid #ccc;
box-shadow:inset -2px -2px 1px #eee;
}

ul { padding: 0; margin-bottom:1em; list-style-position: inside; }
nav ul { list-style: none; }
dt { font-weight: bold; }
dt i.fa { margin-right:0.5em;}

/*h3 + div section:before,*/
section + p:before,
section + dl:before,
section + div:before {
content:"\A";
white-space:pre;
}

dd {
margin-left:0.5em;
}
dd + dd {
margin-top:1em;
}
dt + dd { margin-top:0; }
dd + dt { margin-top: 1em; }

p + dl { margin-top:0; }

body > footer { margin-top:2em; }
body > footer a, body > footer a:hover { color: inherit; }

figure,
audio,
video,
iframe,
canvas {
margin:1em auto;
text-align:center;
display:block;
}
video {
max-width: 100%;
height: auto;
}
video, audio, object {
vertical-align: middle;
}
figure { position:relative; }
figure pre {
text-align:left;
}
figcaption {
text-align:center;
}
figure.listing pre {
padding-top:1.6em;
padding-bottom:1.6em;
background:linear-gradient(#fff 50%, #f3f3f3 0) 0 0/3.2em 3.2em;
border-top:1px solid #bbb;
border-right:1px solid #bbb;
border-bottom:1px solid #bbb;
counter-reset:precode;
margin-top:0;
margin-left:1.75em;
line-height: 1.6;
}
figure.listing pre code:before,
figure.listing pre samp:before {
position:absolute;
left:0;
text-align:right;
content:counter(precode);
counter-increment:precode;
}
pre {
overflow:auto;
page-break-inside: avoid;
hyphens: none;
background-color:#fbfbfb;
border-left:0.5em solid #bbb;
padding:1em;
}

aside.note.do blockquote article section {
margin:0;
}

div.issue, div.note {
background-color:#fbfffb;
border-left:0.5em solid #009000;
padding: 1em 1.2em 0.5em;

}
div.issue h4, div.note h4 {
/*text-transform: uppercase;*/
/*font-weight:normal;*/
margin:0;
}
div.issue h4 {
color:#ae1e1e;
}
div.note h4 {
color:#009000;
}



tfoot dl.abbr dt,
tfoot dl.abbr dd {
display:inline;
text-transform:none;
}
tfoot dl.abbr dd {
margin-left:0;
}
tfoot dl.abbr dd:after {
content:"\A";
white-space:pre;
}
tfoot dl.abbr dt:after {
content:": ";
}
tfoot dl.abbr {
-webkit-column-count:2;
-moz-column-count:2;
column-count:2;
}
tfoot dl.abbr dt {
font-weight:bold;
}

html {
counter-reset:figure 0;
}
body {
counter-reset:listing 0;
}
article {
counter-reset:table 0;
}
figure {
counter-increment:figure;
}
figure.listing {
counter-increment:listing;
}
figure.equation {
counter-increment:equation;
}
table {
counter-increment:table;
}
figure.equation:after {
content:"(" counter(equation) ")";
line-height:0;
position:absolute;
top:45%;
right:0;
}
figcaption:before {
content:"Fig. " counter(figure) ". ";
}
figure.listing figcaption:before {
content:"Listing " counter(listing) ". ";
}
caption:before {
content:"Table " counter(table) ". ";
}


.toc, .toc ol {
list-style:none;
-moz-hyphens:none;
-webkit-hyphens:none;
-ms-hyphens:none;
hyphens:none;
padding:0;
}
.toc ol,
.toc li {
margin:0;
text-align:left !important;
}

.toc li {
list-style-position:outside;
list-style-type:none;
margin-left:1.25em;
margin-bottom:0.25em;
}
.toc li:before {
margin-left:-1.25em;
}

.toc li:not([data-id=abstract]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]) {
counter-increment:s;
counter-reset:sub-s;
}

.toc li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]) {
counter-increment:sub-s;
counter-reset:sub-sub-s;
}
.toc li li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]) {
counter-increment:sub-sub-s;
counter-reset:sub-sub-sub-s;
}
.toc li li li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]) {
counter-increment:sub-sub-sub-s;
counter-reset:sub-sub-sub-sub-s;
}
.toc li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]):before {
content:"\00a0" counter(s) "\00a0";
}
.toc li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]):before {
content:"\00a0" counter(s) "." counter(sub-s) "\00a0";
}
.toc li li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]):before {
content:"\00a0" counter(s) "." counter(sub-s) "." counter(sub-sub-s) "\00a0";
}
.toc li li li li:not([data-id=abstract]):not([id=document-status]):not([data-id=keywords]):not([data-id=references]):not([data-id=categories-and-subject-descriptors]):not([data-id=general-terms]):not([data-id=appendix]):not([data-id=contact-us]):before {
content:"\00a0" counter(s) "." counter(sub-s) "." counter(sub-sub-s) "." counter(sub-sub-sub-s) "\00a0";
}

.toc li[data-id=abstract]:before, .toc li[data-id=document-status]:before, .toc li[data-id=keywords]:before, .toc li[data-id=references]:before, .toc li[data-id=categories-and-subject-descriptors]:before, .toc li[data-id=general-terms]:before, .toc li[data-id=appendix]:before, .toc li[data-id=contact-us]:before {
content:"\00a0\00a0\00a0\00a0";
}




/* dokieli homepage styles */
[property~="doap:shortdesc"]:first-child {
  text-align: center;
  font-size: 1.4em;
}
#dokieli-features, footer {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #333;
  color: #EBEBEB;
}

#help-and-shape {
  width: 100%;
  margin:0 auto;
  max-width:initial;
}

#dokieli-features {
  width:100%;
  max-width:calc(100% - 1em);
  padding-left:0.5em;
  padding-right:0.5em;
  margin:0;
}

#dokieli-features ul {
  list-style-type: none;
  padding: 0; margin: 0;
  font-size: 0.6em;
  text-align: center;
}

#dokieli-features ul li {
  overflow: hidden;
}
#dokieli-features ul span {
  display: block;
  font-size: 2em;
  margin: 0;
}
#dokieli-features li span:first-child {
  display: inline-block;
}
#dokieli-features li span:last-child {
  display: inline-block;
  color: #a8a8a8;
}
#dokieli-features ul li a {
  display: inline-block;
  color: inherit; text-decoration: none;
  width: 100%;
}

#dokieli-features ul li:hover, #dokieli-features ul li:hover span {
  background-color: #444;
}
#dokieli-features ul i {
  width: 1em;
  height: 1em;
  padding: 0.3em; margin: 0 0.2em;
  border-radius: 50%;
  text-align: center;
}

#dokieli-features i.solid img {
  width: 100%; display: block;
}

#read-write-web,
#figure-dokieli-overview {
  text-align: center;
  width: 100%;
  background-color: #ddd;
  margin:0 auto;
  max-width:initial;
}
#dokieli-features h2,
#figure-dokieli-overview h2 {
  display:none;
}
#read-write-web {
  text-align:center;
  font-size:2em;
  padding:1em 0;
  margin:1em 0;
}
#read-write-web:before {
content:"";
}

ul#program-committee {
column-count: 2;
-moz-column-count: 2;
-webkit-column-count: 2;
}


@media screen and (min-width: 980px){
  body {
    font-size: 1.2em;
    line-height: 1.6;
  }
  h1 {
    font-size: 4em;
  }

  article > article,
  section,
  dl[id^="document-"], #authors {
    max-width: 50em;
  }

  article > article,
  section {
    margin: 3em auto;
  }

  dl[id^="document-"], #authors,
  *[id^=table-of-],
  #help-and-shape {
    max-width: 50em;
    margin: 0 auto;
  }

  dd {
    margin-left: 1em
  }

  #dokieli-features ul {
    font-size: 1.2em;
    float: left;
    width: 100%;
  }
  #dokieli-features ul li {
    float: left;
    width: 50%;
    padding: 0.6em 0;
  }
  #dokieli-features ul li:nth-child(odd) {
    text-align:right;
    clear:left;
  }
  #dokieli-features ul li:nth-child(even) {
    text-align:left;
  }
  #dokieli-features ul li span {
    font-size: 1em;
  }
  #dokieli-features ul li span:first-of-type {
    padding-top: 1em;
  }
  #dokieli-features ul li:nth-child(odd) i,
  #dokieli-features ul li:nth-child(odd) p {
    float:right;
  }
  #dokieli-features ul li:nth-child(even) i,
  #dokieli-features ul li:nth-child(even) p {
    float: left;
  }
}
/* </dokieli homepage styles> */
