/* Computer Modern Unicode fonts are from http://canopus.iacp.dvo.ru/~panov/cm-unicode/ with X11 License. */
@font-face {
font-family: "CMU Serif";
src: local("CMU Serif"), url("../fonts/cmunrm.otf");
}
@font-face {
font-family: "CMU Serif Bold";
src: local("CMU Serif Bold"), url("../fonts/cmunbx.otf");
font-weight: bold;
}
@font-face {
font-family: "CMU Serif Italic";
src: local("CMU Serif Italic"), url("../fonts/cmunti.otf");
font-style: italic;
}
@font-face {
font-family: "CMU Serif Bold Italic";
src: local("CMU Serif Bold Italic"), url("../fonts/cmunbi.otf");
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: "CMU Serif Monospace";
src: local("CMU Serif Monospace"), url("../fonts/cmuntt.otf");
}

main { margin-bottom: 3em; }

h1.do {
  font-family: "CM Serif"; font-weight: normal; font-size: 4em;
  color: black;
  text-align: center;
  border: 0; margin-top: 2em;
}

.btn-big.do {
  margin: 3.2em 0 3.2em 0;
}
.btn-big.do a {
  font-weight: bold; text-decoration: none; font-size: 1.4em;
  padding-left: 0; padding-right: 0;
}

@media screen and (min-width: 768px){

  .wrapper.do {
    width: 60%; max-width: 1200px;
    margin-left: auto; margin-right: auto;
  }
}