/** Linked Research
 *
 * Sarven Capadisli <info@csarven.ca> http://csarven.ca/#i
 * http://www.apache.org/licenses/LICENSE-2.0.html Apache License, Version 2.0
 * https://github.com/csarven/linked-research
 */

@media print {
.lr {
display:none !important;
}
}

@media screen {
body.on-document-menu article {
opacity:0.5;
transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-webkit-transition: opacity 1s ease-in-out;
}
}

[contenteditable=true]:focus {
outline:none;
}

#content,
#interactions {
position:relative;
}

aside.lr {
position:fixed;
top:1em;
z-index:9;
max-height:calc(100% - 4em);
background:#fff !important;
font-size:0.8em;
}
aside.lr.on {
padding:1em;
border:1px solid #ccc;
border-radius:7px;
box-shadow:0.25em 0.25em 0.25em rgba(0,0,0,0.1);
overflow:auto;
}

aside.note {
position:static;
border:0;
height:0;
margin:0;
padding:0;
}
aside.note:after {
width:auto;
position:static;
}

#document-editor {
position:static;
}

#document-menu {
right:1em;
}
#toc {
left:1em;
}
#document-menu.on {
}

#document-menu header button {
position:absolute;
top:1em;
right:1em;
font-size:26px;
}
#document-menu #about-linked-research {
display:none;
margin-top:1em;
}
#document-menu.on #about-linked-research {
display:block;
}

#document-menu section {
margin-top:2em;
}
#document-menu ul,
#document-menu h2,
#toc h2 {
margin:0;
padding:0;
}
#document-menu p {
text-indent:0;
}
#document-menu.lr caption:before {
content: '' !important;
}


#views {
/*top:1em;
right:1em;*/
}
#document-metadata {
/*bottom:1em;
right:1em;*/
}

#document-export-update ul,
#views ul,
#document-metadata ul,
#embed-data-in-html ul,
#table-of-stuff ul {
list-style-type:none;
}
#document-metadata * {
text-align:left;
margin:0;
}
#document-metadata table,
#document-metadata table * {
border:0;
padding-left:0;
}
#document-metadata caption {
font-family:"CMU Serif Bold", sans-serif !important;
font-size:1.231em;
}


#views li,
#embed-data-in-html li,
#table-of-stuff li,
#document-export-update li {
display:inline;
margin-right:1em;
}

#table-of-stuff label {
font-weight:normal;
}

.lr.sortable .sortable-placeholder {
outline: 1px dashed #777;
}

.lr.sortable .sortable li {
cursor:grab;
cursor:-moz-grab;
cursor:-webkit-grab;
position:relative;
}

.lr.sortable .sortable li:active {
cursor:move;
}

.lr.sortable .sortable li:before,
.lr.sortable .sortable li a:before {
border-left: 2px dotted #ccc;
}
.lr.sortable .sortable li a:before {
position:absolute;
top:0;
left:-1.4em;
content:"\00a0";
cursor:grab;
cursor:-moz-grab;
cursor:-webkit-grab;
}


.lr button {
line-height:1;
font-family:"CMU Serif Monospace", monospace !important;
font-weight:bold;
padding:0.25em;
z-index:9;
}

button.close {
position:absolute;
top:0.5em;
right:0.5em;
z-index:9;
}

.lr.highlight {
background-color:#0ff;
}
.lr.position-relative {
position:relative;
z-index:1;
}

.slide {
display:none;
}
.lr.slide {
display:block;
}
.on-slideshow > header,
.on-slideshow > footer,
.on-slideshow #comments,
.on-slideshow article h1,
.on-slideshow article #authors,
.on-slideshow article > dl,
.on-slideshow article > div > dl,
.on-slideshow article section:not([class~="lr"]),
.on-slideshow aside:not([class~="lr"]) {
display:none;
}

.rfc-2119 {
text-transform: lowercase;
font-variant: small-caps;
font-style: normal;
}

@media screen {
.todo {
background-color:#f0f;
}
.todo:before {
content:"TODO: ";
}

.rtl {
unicode-bidi:bidi-override;
direction:rtl;
}

.typographic-sine-wave {
position:relative;
width:7em;
display:inline-block;
vertical-align:bottom;
}
.typographic-sine-wave span {
position:absolute;
z-index:-1;
/*margin-right:0.25em;*/
}
.typographic-sine-wave span:nth-of-type(1) {
bottom:0;
left:0;
}
.typographic-sine-wave span:nth-of-type(2) {
bottom:-0.25em;
left:0.75em;
font-size:1.5em;
color:#666;
transform:rotate(-10deg);
}
.typographic-sine-wave span:nth-of-type(3) {
bottom:-0.5em;
left:1.25em;
font-size:2em;
color:#777;
transform:rotate(-20deg);
}
.typographic-sine-wave span:nth-of-type(4) {
bottom:-0.25em;
left:1.5em;
font-size:2.5em;
color:#888;
transform:rotate(-30deg);
}
.typographic-sine-wave span:nth-of-type(5) {
bottom:0em;
left:2em;
font-size:3em;
color:#999;
transform:rotate(-40deg);
}
.typographic-sine-wave span:nth-of-type(6) {
bottom:0.25em;
left:1.25em;
font-size:5.5em;
color:#AAA;
transform:rotate(-50deg);
}
.typographic-sine-wave span:nth-of-type(7) {
bottom:0.5em;
left:1.25em;
font-size:7.5em;
color:#BBB;
transform:rotate(-60deg);
}

.blink {
animation: blink 1s steps(5, start) infinite;
-webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
}

.align-left { float:left; margin-right:2em; margin-bottom:2em; }
.align-right { float:right; margin-left:2em; margin-bottom:2em; }

.lr.fragment {
position:absolute;
top:0;
right:0;
text-indent:0;
padding-right:10px;
font-size:1em;
}

.lr.fragment a {
padding-right:10px;
height:100%;
display:block;
font-family: "CMU Serif Monospace", monospace !important;
font-weight:normal;
outline:none;
text-align:right;
text-decoration:none;
}
.lr.fragment a:first-child {
border-right: 2px solid rgba(128,128,128,0.2);
}
.lr.fragment a:nth-child(n+2) {
border-right: 2px solid rgba(64,64,64,0.9);
}


.sparkline {
height: 1em;
width: 100%;
max-width: 100px;
}
