/** Linked Research
 *
 * Sarven Capadisli <info@csarven.ca> http://csarven.ca/#i
 * http://www.apache.org/licenses/LICENSE-2.0.html Apache License, Version 2.0
 * https://github.com/csarven/linked-research
 */

@media print {
aside.lr,
.lr.fragment {
display:none !important;
}
}

section.lr {
position:fixed;
z-index:8;
opacity:0.1;
padding:1em;
max-width:20%;
max-height:60%;
border:1px solid #ccc;
border-radius:7px;
box-shadow:0.25em 0.25em 0.25em rgba(0,0,0,0.1);
background:#fff !important;
overflow:auto;
}
section.lr:hover {
z-index:9;
opacity:1;
}

section.lr ul {
margin:0;
}
section.lr h2 {
margin:0 0 1em 0;
}

#table-of-contents {
top:1em;
left:1em;
}
#views {
top:1em;
right:1em;
}
#document-metadata {
bottom:1em;
right:1em;
}

#views ul,
#document-metadata ul {
list-style-type:none;
}
#document-metadata * {
text-align:left;
margin:0;
}
#document-metadata table,
#document-metadata table * {
border:0;
}
#document-metadata caption {
font-size:16px;
font-family:"CMU Serif Bold", sans-serif !important;
}
.lr caption:before,
section.lr h2:before {
content: '' !important;
}

#views li {
display:inline;
margin-right:1em;
}



.lr .toc, .lr .toc ol {
list-style:none;
}
.lr .toc ol,
.lr .toc li {
margin:0;
text-align:left !important;
}
.lr .toc ol {
margin-left: 1em;
}

.lr .toc li {
counter-increment: s;
counter-reset: sub-s;
}
.lr .toc li li {
counter-increment: sub-s;
counter-reset: sub-sub-s;
}
.lr .toc li li li {
counter-increment: sub-sub-s;
counter-reset: sub-sub-sub-s;
}
.lr .toc li:before {
content: counter(s) "\00a0";
}
.lr .toc li li:before {
content: counter(s) "." counter(sub-s) "\00a0";
}
.lr .toc li li li:before {
content: counter(s) "." counter(sub-s) "." counter(sub-sub-s) "\00a0";
}

.lr .toc li > span {
cursor: move;
}
.lr .toc li > span:hover {
background:#eee !important;
}
.lr .toc .placeholder {
outline: 1px dashed #777;
}


.lr button {
line-height:1;
font-family:"CMU Serif Monospace", monospace !important;
font-weight:bold;
padding:0.05em;
}

button.close {
position:absolute;
top:0.5em;
right:0.5em;
z-index:9;
}

p, h2,h3,h4,h5,h6,ul,ol,li,dl,dt,table,section,figure {
position:relative;
z-index:1;
/*background:#eee !important;*/
}

.lr.fragment {
position:absolute;
top:0;
right:0;
z-index:0;
text-indent: 0px;
padding-left:10px;
/*background:rgba(128,128,128,0.2) !important;*/
/*height:100% !important;*/
/*display:block;*/
font-size:1em;
}

.lr.fragment a {
padding-left:10px;
height:100%;
display:block;
font-family: "CMU Serif Monospace", monospace !important;
outline:none;
}
.lr.fragment a:first-child {
border-left: 2px solid rgba(128,128,128,0.2);
}
.lr.fragment a:nth-child(n+2) {
border-left: 2px solid rgba(64,64,64,0.9);
}


.sparkline {
height: 1em;
width: 100%;
max-width: 100px;
}
