.medium-editor-table-builder {
  display: none;
  position: absolute;
  left: 0;
  top: 101%; }
  .medium-editor-table-builder * {
    box-sizing: border-box; }

.medium-editor-table-builder-grid {
  border: 1px solid #000;
  border-radius: 3px;
  overflow: hidden; }

.medium-editor-table-builder-cell {
  background-color: #333;
  border: 1px solid #000;
  display: block;
  float: left;
  height: 16px;
  margin: 0;
  width: 16px; }
  .medium-editor-table-builder-cell.active {
    background-color: #ccc; }

.medium-editor-table-builder-cell:hover {
  background-color: #ccc; }

.medium-editor-table {
  border-collapse: collapse;
  resize: both;
  table-layout: fixed; }

.medium-editor-table,
.medium-editor-table td {
  border: 1px dashed #e3e3e3; }

.medium-editor-table-builder-toolbar {
  display: block;
  min-width: 162px;
  background-color: #333;
  font-size: 0.8em;
  color: white; }
  .medium-editor-table-builder-toolbar span {
    width: 45px;
    display: block;
    float: left;
    margin-left: 5px; }
  .medium-editor-table-builder-toolbar button {
    margin: 0 3px;
    background-color: #333;
    border: 0;
    width: 30px;
    cursor: pointer; }
    .medium-editor-table-builder-toolbar button i {
      color: white; }
