/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #FF4000;
    text-shadow: none;
}

::selection {
    background: #FF4000;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #E8E8E8;
    color: #000;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/* Computer Modern Unicode fonts are from http://canopus.iacp.dvo.ru/~panov/cm-unicode/ with X11 License. */
@font-face {
font-family: "CMU Serif";
src: local("CMU Serif"), url("../fonts/cmunrm.otf");
}
@font-face {
font-family: "CMU Serif Bold";
src: local("CMU Serif Bold"), url("../fonts/cmunbx.otf");
font-weight: bold;
}
@font-face {
font-family: "CMU Serif Italic";
src: local("CMU Serif Italic"), url("../fonts/cmunti.otf");
font-style: italic;
}
@font-face {
font-family: "CMU Serif Bold Italic";
src: local("CMU Serif Bold Italic"), url("../fonts/cmunbi.otf");
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: "CMU Serif Monospace";
src: local("CMU Serif Monospace"), url("../fonts/cmuntt.otf");
}

body {
    font-size: 1em;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;    }

h1 {
  font-size: 2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; text-align: left; line-height:0.8;
  border-color: #c1dec0; color: #729871;
}
h2 { font-size: 1.4em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; line-height:1;}
h3 { font-size: 1.2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; line-height:0.8;}
h4 { font-size: 1.2em; letter-spacing: -1px; font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-style: italic;}
h5 {}

header a { text-decoration: none; color: inherit; }
header a:hover {text-decoration: none; }
li a, li p a, .postnav a { text-decoration: none; }
p a {text-decoration: underline;}
footer a { text-decoration: underline;}
a { text-decoration: inherit; color: #729871; }
a:hover { text-decoration: underline; color: #92C492; }

nav {
}
nav a:hover { text-decoration: none; }
nav ul { list-style: none; padding: none; margin: none; }

blockquote { margin-left: 0.6em; padding-left: 0.6em; }

main {
  margin-bottom: 3em;
}

@media screen and (min-width: 768px){

  main, header {
    width: 60%; max-width: 1200px;
    margin-left: auto; margin-right: auto;
  }

}

h1 {
  font-family: "CMU Serif"; font-weight: normal; font-size: 4em;
  color: black;
  text-align: center;
  border: 0; margin-top: 2em;
}

#do-index header nav ul {
  display: block!important; /* fuuuuuuuck you flexbox */
  margin: none!important; padding: none!important;
  height: 1px; /* floating li hack */
  padding: 1em;
}
#do-index header nav > ul > li:before, #do-index header nav ul ul > li:first-child::before { content: none!important; }
#do-index #new {
  border: 1px solid black;
  border-radius: 8px;
  float: left; width: 25%;
  font-weight: bold;
  display: inline-block;
}
#do-index #new:hover {
  border-color: silver;
}
#do-index #new a {
  color: black;
  font-size: 2em;
  width: 100%;
  display: inline-block;
  padding: 0.6em;
}
#do-index #new a:before {
  content: "+ ";
}

#do-index #examples {
  width: 70%;
  float: left;
}
#do-index #examples p {
  padding: 0; margin: 0 0 0.6em 0;
  font-weight: bold;
}
#do-index #examples li {
  float: left;
  margin-right: 0.4em;
}
#do-index #examples li a {
  text-decoration: underline;
}