{
  "rules": {
    "no-unused-vars": "off",
    "no-useless-escape": "off",
    "no-prototype-builtins": "off"
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": { "es6": true, "browser": true, "jest": true, "node": true },
  "plugins": ["jest"],
  "ignorePatterns": ["node_modules", "test-setup.js", "scripts/"],
  "globals": {
    "browser": "readonly",
    "chrome": "readonly",
    "DO": "writable"
  }
}
