/** LNCS
 *
 * Sarven Capadisli <info@csarven.ca> http://csarven.ca/#i
 * http://www.apache.org/licenses/LICENSE-2.0.html Apache License, Version 2.0
 * https://github.com/csarven/linked-research
 */

/*
LNCS template styles: http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0

Computer Modern Unicode fonts are from http://canopus.iacp.dvo.ru/~panov/cm-unicode/ with X11 License.
*/

@font-face {
font-family: "CMU Serif";
src: local("CMU Serif"), url("cmunrm.otf");
}
@font-face {
font-family: "CMU Serif Bold";
src: local("CMU Serif Bold"), url("cmunbx.otf");
font-weight: bold !important;
}
@font-face {
font-family: "CMU Serif Italic";
src: local("CMU Serif Italic"), url("cmunti.otf");
font-style: italic, oblique !important;
}
@font-face {
font-family: "CMU Serif Bold Italic";
src: local("CMU Serif Bold Italic"), url("cmunbi.otf");
font-weight: bold;
font-style: italic, oblique;
}
@font-face {
font-family: "CMU Serif Monospace";
src: local("CMU Serif Monospace"), url("cmuntt.otf");
}

* { margin:0; padding:0; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
*:not(button):not(mark) { background: transparent !important; color: #000 !important; }
.note { background:#ddd !important; }
img { display:block; border:0; }
a abbr { cursor: pointer; border-bottom:0; }
table { border-collapse:collapse; }
tr { vertical-align:top; }
ol { list-style-position:inside; }
h2, h3, h4, h5, h6, p, ul, ol, li, pre, code {
orphans: 3;
widows: 3;
}

thead { display: table-header-group; }
table, img, object, .figure { page-break-inside: avoid; }
img, object { max-width:100% !important; height:auto !important }

object[width="640"] { max-width:480px !important; }
object[height="480"] { height:360px !important; }
object[height="415"] { height:311px !important; }

object.slides { display:none; }

@page {
/*Standard ISO A4 paper dimensions are:*/
/*210mm x 297mm*/
/*8.27" x 11.69"*/
/*Equivalent A4 paper dimensions in pixels at 300 DPI and 72 DPI respectively are:*/
/*2480 pixels x 3508 pixels (print resolution)*/
/*595 pixels x 842 pixels (screen resolution)*/
margin:47mm 0;
/*margin:40mm 0;*/
}

a {
text-decoration:none;
color:#000;
}

#references {
/*page-break-before: always;*/
}


#references a,
table code {
word-wrap:break-word;
word-break:break-all;
}

#data-provenance_table code {
word-break:normal;
}

/*html { font-size: 13px; }*/
body {
color:#000000;
font-family: "CMU Serif", serif;
font-size:13px;
line-height:1.22;
position:relative;
margin:0 auto;
width:122mm;
height:193mm;
}


h1,h2,h3,h4,h5,h6, strong, dt {
font-family: "CMU Serif Bold", sans-serif !important;
}
em, address {
font-family: "CMU Serif Italic", sans-serif !important;
font-style:normal !important;
}
code, pre, kbd, button,
#references a {
font-family: "CMU Serif Monospace", monospace !important;
}

cite { font-style:normal; }

p {
text-indent:1em;
font-size:13px;
}

h1,h2,h3,h4,h5,h6 {
overflow:hidden;
page-break-after: avoid;
line-height:1.231;
}
h1 {
font-size:19px;
margin-bottom:1.5em;
text-align:center;
}
h2 { font-size:16px; }
h3 { font-size:13px; }
h4 { font-size:13px; }
h5 { font-size:13px; }
h6 { font-size:13px; }

h2 {
margin-top:1.25em;
margin-bottom:0.75em;
}

section:not([id=abstract]):not([id=keywords]):not([id=references]),
.toc li {
counter-increment: section;
counter-reset: sub-section;
}
section:not([id=abstract]):not([id=keywords]):not([id=references]) section,
.toc li li {
counter-increment: sub-section;
counter-reset: sub-sub-section;
}
section:not([id=abstract]):not([id=keywords]):not([id=references]) section section,
.toc li li li {
counter-increment: sub-sub-section;
counter-reset: sub-sub-sub-section;
}

*:not([id=abstract]):not([id=keywords]):not([id=references]) h2:before {
content: counter(section) "\00a0\00a0\00a0\00a0\00a0";
}

h3:before {
content: counter(section) "." counter(sub-section) "\00a0\00a0\00a0\00a0";
}
h3 {
margin-top:1.5em;
margin-bottom:0.5em;
}


h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
div > p:first-child {
text-indent:0;
}
h1 + p {
margin-bottom:1em;
}

h4 {
margin-top:1em;
display:inline;
}
h4:after,
h5:after {
content: ".";
}
h4 + p,
h5 + p,
h4 + div,
h5 + div,
h4 + div p,
h5 + div p {
display:inline;
text-align:justify;

/*This is a bit hacky.. it appears to work in Webkit and maybe it shouldn't -- breaking words inappropriately*/
/*word-break:break-all;*/

/*
Testing?
text-justify:distribute;
word-break:break-all;
hyphens:auto;
text-wrap:normal;
line-break:normal;
*/
}
h4 + p + p,
h5 + p + p,
h4 + div p + p,
h5 + div p + p {
display:block;
}



h3 + div section:before {
content:"\A";
white-space:pre;
}

h4 + p:after,
h5 + p:after,
h4 + div p:after,
h5 + div p:after,
section + p:before {
content:"\A";
white-space:pre;
}

section + p:before {
text-indent:0;
}

* + h4:before,
caption:before,
* + h5:before,
h4 + h5:before {
content:"\A";
white-space:pre;
}

h5 {
font-weight:normal;
font-style:italic;
display:inline;
}

pre {
margin:1em 0;
font-size:0.875em;
}


#authors {
/*-webkit-column-count:3;*/
/*-webkit-column-width:30%;*/
/*-webkit-column-gap:3%;*/
/*-moz-column-count:3;*/
/*-moz-column-width:30%;*/
/*-moz-column-gap:3%;*/
/*column-count:3;*/
/*column-column-width:30%;*/
/*column-gap:3%;*/
}


#authors {
margin:0 auto 2.5em -4%;
text-align:center;
width:107%;
}

#authors dl {
line-height:1;
}

#author_orgs *,
#author_uris *,
#abstract *,
#document-identifier *,
#document-submitted *,
#document-license *,
#document-purpose *,
#keywords *,
#categories-and-subject-descriptors * {
font-size:12px;
}

#author_emails,
#author_uris {
font-family:monospace;
font-size:11px;
}


#authors dl,
#authors ul {
margin:0;
text-align:center;
}

#authors dl {
margin-bottom:1em;
}

#authors dd,
#authors li {
display:inline !important;
margin-bottom:0;
}

#authors dd:after,
#author_emails li:after,
#author_orgs li:after,
#author_uris li:after {
content:", ";
}
#authors dd:last-child:after,
#author_emails li:last-child:after,
#author_orgs li:last-child:after,
#author_uris li:last-child:after {
content:"";
}
#authors sup {
margin-left:1px;
}
#authors sup:after {
content:",";
}
#authors sup:last-child:after,
#authors sup:first-child:after {
content:"" !important;
}

#abstract h2:before,
#document-identifier dt:before,
#document-purpose dt:before,
#document-submitted dt:before,
#document-license dt:before,
#categories-and-subject-descriptors h2:before,
#keywords h2:before,
#acknowledgements h2:before,
#references h2:before,
#appendix h2:before,
#appendix h3:before,
#appendix h4:before {
content: "";
}

#abstract h2:after,
#document-identifier dt:after,
#document-purpose dt:after,
#document-submitted dt:after,
#document-license dt:after,
#categories-and-subject-descriptors h2:after,
#keywords h2:after {
content: ":";
}


#abstract h2:after {
content: ".";
}

#abstract h2,
#abstract h2 + p,
#document-identifier dt,
#document-identifier dt + dd,
#document-purpose dt,
#document-purpose dt + dd,
#document-submitted dt,
#document-submitted dt + dd,
#document-license dt,
#document-license dt + dd,
#keywords h2,
#keywords h2 + ul {
display:inline;
}


#document-purpose {
/*display:none;*/
}

table {
width:100%;
}

th:last-child,
td:last-child {
padding-right:0;
}


ol, ul, dd, table {
margin-bottom:1em;
}

.figure {
margin-top:1em;
margin-bottom:1em;
}

.figure p {
text-indent:0;
text-align:left;
}

.figure-column-2 {
/*-webkit-column-count:2;*/
/*-webkit-column-width:47.5%;*/
/*-webkit-column-gap:5%;*/
/*-moz-column-count:2;*/
/*-moz-column-width:47.5%;*/
/*-moz-column-gap:5%;*/
/*column-count:2;*/
/*column-column-width:47.5%;*/
/*column-gap:5%;*/
float:left;
width:100%;
}
.figure-column-2 + *{
clear:both;
}
.figure-column-2 .figure {
margin-top:0;
width:47.5%;
margin-left:5%;
float:left;
}
.figure-column-2 .figure:first-child {
margin-left:0;
}

#abstract, ol, ul, p, dd {
text-align:justify;
}

p + dl {
margin-top:1.25em;
}

dt {
font-weight:bold;
margin-bottom:0.5em;
}

ul, ol {
margin-top:1em;
}

caption {
text-align:left;
font-size:12px;
border-bottom:1px solid #000;
}
tbody {
border-top:2px solid #000;
border-bottom:2px solid #000;
}

th, td {
padding-top:0.25em;
padding-bottom:0.25em;
padding-right:1em;
}
th {
text-align:left;
}
tr {
border-bottom:1px solid #000;
}
tr:last-child {
border-bottom:0;
}


#wrap {
overflow:hidden;
}


.entry-subtitle {
margin-bottom:1em;
font-weight:bold;
text-align:center;
}

#abstract,
#document-identifier,
#document-purpose,
#document-submitted,
#document-license,
#categories-and-subject-descriptors,
#keywords {
margin:0 1cm 1em;
}


#authors dt {
display:none;
}

#authors p {
text-align:center;
}

#authors li,
#categories-and-subject-descriptors li,
#keywords li {
list-style-type:none;
}
#categories-and-subject-descriptors li,
#keywords li {
display:inline;
}
#categories-and-subject-descriptors li:after {
content:"; ";
}
#keywords li:after {
content:" \2022";
margin-left:-1px;
margin-right:-1px;
}
#categories-and-subject-descriptors li:last-child:after,
#keywords li:last-child:after {
content:"";
}

#categories-and-subject-descriptors h2,
#keywords h2,
#document-identifier dt {
text-transform:capitalize;
}

#keywords {
margin-bottom:2.5em;
}


#content ul {
list-style-position:inside;
margin-bottom:1em;
}


.entry-content {
margin-bottom:3em;
}

#comments,
.entry-author,
.datetimestamp,
.entry-replies,
#footer,
.article_labels * {
display:none;
}


#document-purpose,
#document-submitted,
#document-license {
display:none;
}
#document-purpose.on,
#document-submitted.on,
#document-license.on {
display:block;
}
